<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Color Palette Generator</title>
    <link rel="stylesheet" href="index.css" />

    <style></style>
  </head>
  <body>
    <form id="form" class="search-container">
      <input
        type="text"
        style="width: 250px; margin-bottom: 10px"
        placeholder="Add colors or description of colors"
      />
      <button>Submit</button>
    </form>
    <div class="container"></div>
    <script src="app.js"></script>
  </body>
</html>
